<h1>Enter name</h1>

<form action="/game">
    <div class="form-group">
        <label for="user_name">Name</label>
        <input id="user_name" name="user_name" placeholder="Name" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>




