/* This file is for your main application css. */

@import "bootstrap";

.side { padding: 4ex; text-align: center; }
h1 { text-align: center; }

.tile {
  border: solid;
  height: 150px;
  background-color: green;
  margin-bottom: 10px;
}
